html{
  background-color: #023047;
  height: 100vh;
}

a {
  text-decoration: none;
  color: inherit;
}

.carousel {
  width: 600px;
  height: 600px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
}

.slide1:hover .review-img {
  filter: blur(5px);
  -webkit-filter: blur(8px);
}
.slide1 div {
  opacity: 0%;
}
.slide1:hover div {
  opacity: 100%;
  background-color: rgb(34, 139, 196);
}

.App {
  text-align: center;
  color: #8ecae6;
  background-color: #023047;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.topBar {
  color: #8ecae6;
  background-color: #01567a;
  justify-content: space-between;
  margin: none;
}

.logo {
  color: #8ecae6;
  background-color: #01567a;
  margin: none;
}

.home {
  color: #8ecae6;
  background-color: #023047;
}

.sideBar {
  color: #8ecae6;
  background-color: #023047;
}

.result {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 55%;
  margin: auto;
  background-color: #023047;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
